name: Build and Deploy to Firebase

on:
  push:
    branches: [ main, master ]

# Add permissions for OIDC token
permissions:
  contents: read
  id-token: write

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Build project
      run: npm run build
      env:
        CI: false

    - name: Install functions dependencies
      run: npm ci
      working-directory: ./functions

    - name: Authenticate to Google Cloud
      id: 'auth'
      uses: 'google-github-actions/auth@v2'
      with:
        credentials_json: '${{ secrets.GCP_SA_KEY }}'

    - name: Install Firebase Tools
      run: npm install -g firebase-tools

    - name: Deploy to Firebase
      run: |
        # Fetch secrets from Google Cloud
        SECRET_SG=$(gcloud secrets versions access latest --secret=SENDGRID_API_KEY)
        SECRET_CE=$(gcloud secrets versions access latest --secret=CONTACT_EMAIL)

        # Create the .env file with all secrets
        echo "SENDGRID_API_KEY=${SECRET_SG}" > functions/.env.active-tome-467816-s6
        echo "CONTACT_EMAIL=${SECRET_CE}" >> functions/.env.active-tome-467816-s6
        echo "CAREERS_FORM_API=${{ secrets.CAREERS_FORM_API }}" >> functions/.env.active-tome-467816-s6

        # Deploy. Firebase Tools will automatically use the updated .env file.
        firebase deploy --only hosting,functions
      